/* FORMS COMPONENTS */

.form-input {
	background-color: white;
	border: 1px solid #6f6f6f;
	border-radius: 5px;
	color: #6f6f6f;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
}

label {
	margin-bottom: 10px;
}

.form-lg-label {
	font-weight: 500;
	font-size: 1.2rem;
}

.form-sm-label {
	font-size: 1rem;
}
